

.grey {
  color: grey;
}

.bisque {
  background-color: rgb(225, 255, 196);
}

.lightblue{
  background-color: rgb(215, 240, 250);
}

.khaki{
background-color: rgb(253, 245, 175);
}

.nav-bg{
  background-color: #00457E;
}

li{
  display: block;
}

li:hover{
background-color: #2F70AF;
border-radius: 0.5em;
color: #000;
}

